body {
	margin:0px;
	padding:0px;
}
.ws_main_wrapper {
	background: url(../images/login_BG.gif) no-repeat top center;
	height: 100%;
	padding-top: 117px;
}

.cc_logo {
	background: url(../images/CC_login_logo.png) no-repeat top center;
	width: 428px;
	height: 95px;
}

.header_line {
	background: url(../images/header_line.png) no-repeat top center;
	width: 400px;
	height: 2px;
}

.ws_logo {
	margin-top:10px;
	margin-bottom:50px;
	background: url(../images/WS_logo.png) no-repeat top center;
	background-size: 225px 30px;
	width: 225;
	height: 30px;	
}

.infobox_wide {
	background: url(../images/info_box_wide.png) no-repeat top center;
	background-size:282px 149px;
	width: 282px;
	height:149px;
}

.infobox_narrow {
	background: url(../images/infobox_narrow.png) no-repeat top center;
	background-size:156px 149px;
	width: 156px;
	height:149px;
}

.infobox_text {
	padding: 5px 13px 5px 7px;
}

.infobox_narrow_text {
	padding: 12px 13px 5px 13px;
}

.infobox_narrow_text ul{
	list-style-type: disc;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 5px 0px;
	color: #789EC5;
	line-height: 20px;
	padding-left:20px;
}

.clinovo_logo {
	width: 250px;
	height:84px;
}

.footer_table {
	position:absolute;
	bottom:0px;
	left:0px;
	width:99%;
	margin-bottom:30px;
}

.dotted_row {
	background: url(../images/gray_box.gif) repeat-x bottom left;
}

h1 {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
	color: #789EC5;
	margin: 3px;
	margin-bottom:7px;
	text-align: center;
}

p {
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	line-height: 15px;
	color: #4D4D4D;
	margin: 0px;
	text-align:justify;
}

a:link, a:visited {
	color: #789EC5;
	text-decoration: none;
}

a:hover {
	color: #789EC5;
	text-decoration: underline;
}
