build.properties
core/target/
web/target/
ws/target/
ws-cabig/target/
core/.classpath
core/.project
core/.settings/
web/.classpath
web/.project
web/.settings/
ws/.classpath
ws/.project
ws/.settings/

*.xls

C:/
C:\\\\ClinCapture/
c:\\ClinCapture\\tomcat\\ClinovoEDC.data\\crf/
c:\\ClinCapture\\tomcat\\ClinovoEDC.data\\rules/
c:\\ClinCapture\\tomcat\\ClinovoEDC.data\\xslt/
core/openclinica-test.log

.DS_Store


