.DS_Store
rest/bin/
ws/target/
ws/.project
ws/.settings/
ws/.classpath
rest/target/
rest/.project
rest/.classpath
rest/.settings/
core/target/
core/.project
core/.classpath
core/.settings/
web/target/
web/.project
web/.settings/
web/.classpath
commons/target/
build.properties
medical-coding/target
medical-coding/.project
medical-coding/test.log
web/openclinica-test.log
medical-coding/.settings
medical-coding/.classpath
core/openclinica-test.log
automated-regression-tests/target/
automated-regression-tests/.classpath
automated-regression-tests/.project
automated-regression-tests/.settings/
core/Agent_Administration_v2.0_ssID1.pdf