<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
        <property name="validationMessageSource" ref="messageSource"/>
    </bean>

    <!--
     example how we can use annotations for validator:
     @NotEmpty(message = "{an_invalid_step_was_specified}")
	 @Size(min = 3, message = "{an_invalid_submit_button_was_clicked}")
    -->

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>

	<bean id="sdvUtil" class="org.akaza.openclinica.web.table.sdv.SDVUtil"
		name="sdvUtil">
		<property name="dataSource" ref="dataSource" />
	</bean>


    <bean id="clinicalDataCollectorResource" class="org.akaza.openclinica.web.print.ClinicalDataCollectorResource">
        <property name = "generateClinicalDataService" ref = "generateClinicalDataService"></property>
    </bean>

    <bean id="metadataCollectorResource" class="org.akaza.openclinica.web.print.MetadataCollectorResource" name="metadataCollectorResource">
        <property name="dataSource" ref="dataSource"></property>
        <property name="ruleSetRuleDao" ref="ruleSetRuleDao"/>
        <property name="coreResources" ref="coreResources"/>
    </bean>



</beans>
