.widget h2, .widget_big h2 {
	background-color:#AA62C6;
}

.toolbar_wrapper h2 {
	background-color:#AA62C6;
}

.ui-sortable-placeholder, .ui-placeholder-big {
	border-color: #AA62C6!important;
}

#show_hide {
	background-color:#AA62C6;
}


