.widget h2 {
	background-color:#75b894;
}

.toolbar_wrapper h2 {
	background-color:#75b894;
}

.ui-sortable-placeholder {
  visibility:visible !important;
  border: 1px dashed #75b894!important;
}

#show_hide {
	background-color:#75b894;
}
