.widget h2, .widget_big h2 {
	background-color:#789EC5;
}

.toolbar_wrapper h2 {
	background-color:#789EC5;
}

.ui-sortable-placeholder, .ui-placeholder-big {
  border-color: #789EC5!important;
}

#show_hide {
	background-color:#789EC5;
}
